{% extends 'base.html' %}

{% block content %}
      <main role="main" class="inner cover">
        <p class="lead">
            {% for task in tasks %}
            <h2>Task: {{ task.summary }}</h2>
            <h2>Status: {{ task.status }}</h2>
            <h2>Type: {{ task.type }}</h2>
            <a href="{% url 'todo_detail' task.pk %}">Task detail</a>
            <a href="{% url 'todo_delete' task.pk %}">Task delete</a>
            <hr>
            {% endfor %}
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Kurentaev Adlet <a href="/">Contacts</a></p>
        </div>
      </footer>
{% endblock %}
