{% extends 'base.html' %}

{% block title %}
{{ task.summary }}
{% endblock %}

{% block menu %}
{% if user.is_authenticated %}
<a class="nav-link active" href="{% url 'todo_add' %}">Task add</a>
{% endif %}
{% endblock %}

{% block content %}
    <h2 class="mt-2">Task: {{ task.summary }}</h2>
    <h2>Description: {{ task.description | linebreaks}}</h2>
    <h2>Status: {{ task.status }}</h2>
    <h2>
    {% if task.project == None %}
    {% else %}
        Project: {{ task.project }}
    {% endif %}
    </h2>
    <h2>
    {% if task.type.all|length > 0 %}
        Type:
    {% else %}
    {% endif %}
    {% for type in task.type.all %}
        {{ type.type_name }}{% if not forloop.last %},
        {% endif %}
    {% endfor %}</h2>
    {% if user.is_authenticated %}
    {% if perms.webapp.change_tasks %}
    {% if user in task.project.user.all %}
    <a class="mx-2" href="{% url 'todo_update' task.pk %}">Task update</a>
    {% endif %}
    {% endif %}
    {% if perms.webapp.delete_tasks %}
    {% if user in task.project.user.all %}
    <a href="{% url 'todo_delete' task.pk %}">Task delete</a>
    {% endif %}
    {% endif %}
    {% endif %}
{% endblock %}
