{% extends 'base.html' %}

{% block menu %}
<a class="nav-link active" href="{% url 'project_add' %}">Project add</a>
<a class="nav-link active" href="{% url 'projects' %}">Projects</a>
{% endblock %}

{% block content %}
    {% include 'partial/search.html' %}
      <main role="main" class="inner cover">
        <p class="lead">
            <h4>{% if projects|length == 0 %}
                Projects not found
                {% else %}
                {% endif %}</h4>
            {% for project in projects %}
            <div class="card project mb-3">
                <div class="card-body">
                    <h2>Project: {{ project.summary }}</h2>
                    <h2>Start date: {{ project.start_date }}</h2>
                    <h2>{% if project.end_date == None %}
                        {% else %}
                        End date: {{ project.end_date }}
                        {% endif %}
                    </h2>
                    <a class="mx-2" href="{% url 'project_detail' project.pk %}">Detail view</a>
                    <a class="mx-2" href="{% url 'project_delete' project.pk %}">Delete project</a>
                </div>
            </div>
            {% endfor %}
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Kurentaev Adlet <a href="/">Contacts</a></p>
        </div>
      </footer>
{% endblock %}
