{% extends 'base.html' %}

{% block title %}
{{ projects.summary }}
{% endblock %}

{% block menu %}
{% if user.is_authenticated %}
<a class="nav-link active" href="{% url 'project_add' %}">Project add</a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="card project mb-4">
        <div class="card-body">
            <h2>Project: {{ projects.summary }}</h2>
            <h2>Description: {{ projects.description | linebreaks }}</h2>
            <h2>Start date: {{ projects.start_date }}</h2>
            <h2>{% if projects.end_date == None %}
                {% else %}
                End date: {{ projects.end_date }}
                {% endif %}
            </h2>
            {% if user.is_authenticated %}
                <a class="mx-2" href="{% url 'project_update' projects.pk %}">Project update</a>
                <a class="mx-2" href="{% url 'project_delete' projects.pk %}">Project delete</a>
                <a class="mx-2" href="{% url 'project_todo_add' projects.pk %}">Add task</a>
                <a class="mx-2" href="{% url 'project_add_user' projects.pk %}">Delete or add user</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
  <h4 class="mb-4">Users list</h4>
    <div class="table">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for i in projects.user.all %}
            <tr>
              <td class="text">{{ i.username }}</td>
              <td class="text">{{ i.first_name }}</td>
              <td class="text">{{ i.email }}</td>
            </tr>
          {% empty %}
          <div class="album py-3 bg-light">
                  <div class="container">

                    <div class="row">
                      <div class="col">
                        <div class="card mb-4 box-shadow">
                          <div class="card-body">
                            <h3 class="card-text">The project has no users!</h3>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
          </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

    {% for task in tasks %}
        <div class="card task mb-3">
            <div class="card-body">
                <h2>Task: {{ task.summary }}</h2>
                <h2>Status: {{ task.status }}</h2>
                <h2>{% if task.type.all|length > 0 %}
                    Type:
                    {% else %}
                    {% endif %}
                    {% for type in task.type.all %}
                    {{ type.type_name }}{% if not forloop.last %},
                    {% endif %}
                    {% endfor %}</h2>
                <a class="mx-2" href="{% url 'todo_detail' task.pk %}">Detail view</a>
                {% if user.is_authenticated %}
                <a href="{% url 'todo_delete' task.pk %}">Delete task</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
