{% extends 'base.html' %}

{% block content %}
    {% include 'partial/search.html' %}
      <main role="main" class="inner cover">
        <p class="lead">
            <h4>{% if projects|length == 0 %}
                Projects not found
                {% else %}
                {% endif %}</h4>
            {% for project in projects %}
            <h2>Summary: {{ project.summary }}</h2>
            <h2>Description: {{ project.description }}</h2>
            <h2>Start date: {{ project.start_date }}</h2>
            <h2>End date: {{ project.end_date }}</h2>
            <a class="mx-2" href="{% url 'project_detail' project.pk %}">Detail view</a>
            <a class="mx-2" href="{% url 'project_delete' project.pk %}">Delete project</a>
            <hr>
            {% endfor %}
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Kurentaev Adlet <a href="/">Contacts</a></p>
        </div>
      </footer>
{% endblock %}
